
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #474e5c;
  min-height: 8vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 4px #474e5c;
  padding: 1rem;
  width: 25rem;
  
}